@import './styles/toolbar-styles.css';
@import './styles/property-styles.css';
@import './styles/filter-styles.css';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    contain: content;
}

.mainBlock {
    display: flex;
}