.filteringBlock {
  padding-left: 5%;
  padding-right: 5%;
  min-height: 50em;
}

.filteringList {
  display: table-cell;
  vertical-align: middle;
  min-width: 20em;
}

.filterDropdown {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: var(--dark-grey);
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.filterDropdownHeader {
  font-weight: 600;
}

.filterDropdownOptionSelected {
}

.filterDropdownContent {
  display: none;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  margin: 0.5em -0.5em 0.5em -0.5em;
  min-width: 12em;
  padding: 0.5em;
  z-index: 1;
  border-style: solid;
  border-width: 2px;
  border-color: var(--dark-grey);
  border-radius: 0px 0px 5px 5px;
}

.filterDropdown:hover .filterDropdownContent {
  display: block;
}

.filterDropdownOption {
}

.filterDropdownOptionText {
  pointer-events: none;
}

.filterDropdownOption:hover {
  text-decoration: underline;
  cursor: pointer;
}
