.propertyList {
  padding-left: 5%;
  padding-right: 5%;
  min-width: 800px;
}

.propertyNotFoundText {
  font-size: 2em;
}

.property {
  margin-bottom: 50px;
  display: flex;
}

.propertyType {
  font-style: italic;
  padding-bottom: 10px;
}

.propertyHeaderBlock {
  padding-bottom: 10px;
  height: 1em;
}

.propertyLikeButton {
  background-size: cover;
  height: inherit;
  display: flex;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.propertyPrice {
  display: flex;
  position: absolute;
  left: 0;
  font-weight: 600;
}

.propertyTextBlock {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  width: 100%;
}

.propertyText {
}

.propertyDescription {
}

.propertyBottomRightBlock {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.propertyIcon {
  background-size: cover;
  max-width: 15px;
  max-height: 15px;
}

.propertyBottomLeftBlock {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.propertyImage {
  background-size: cover;
  max-width: 300px;
  max-height: 250px;
  min-width: 300px;
  min-height: 250px;
  transition: all 0.3s;
}

.propertyContactsPopup {
  opacity: 0;
  position: absolute;
  margin-top: -250px;
  height: 250px;
  width: 250px;
  padding-left: 50px;
  padding-top: 150px;
  cursor: help;
}

.propertyContactsPopup:hover {
  opacity: 1;
}

.propertyContacts {
  background-color: white;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--dark-grey);
  border-radius: 5px;
}

.property:hover .propertyDescription {
  text-decoration: underline;
}

.property:hover .propertyImage {
  transform: scale(1.02);
  vertical-align: middle;
}

.propertyPageNav {
  margin-right: 1em;
}

.propertyPageNavCurrent {
  margin-right: 1em;
  color: var(--dark-blue);
  text-decoration: underline;
  cursor: default;
}

.propertyPageNav:hover {
  text-decoration: underline;
  color: var(--light-blue);
  cursor: pointer;
}

.propertyPageNavContainer {
  text-align: center;
  margin-bottom: 40px;
}
